<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    
    <span class="menu-spacer"></span>
    <div>
      <a mat-button > Accounts </a>
      <a mat-button > Create Account </a>
      <a mat-button > Contacts </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item > Accounts </a>
      <a mat-list-item > Create Account </a>
      <a mat-list-item > Contacts </a>
      <a mat-list-item > Create Contact </a>
      <a mat-list-item > Activities </a>
      <a mat-list-item > Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()">Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="min-height: calc(100vh - 64px)">
    <div style="margin: 0 20px;">
      <h1>{{title}}</h1>
      <mat-card>
        <mat-card-content>
          Hello
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>